@import "tailwindcss";

@theme {

  --color-primary: #338573;
  --color-delete: #FA0606;
  --color-edit: #04BCF6;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
