@import "tailwindcss";

@theme {
  --color-primary: #338573;
  --color-delete: #fa0606;
  --color-edit: #04bcf6;
}
.container {
  @apply max-w-7xl px-4;
}
.container {
  @apply max-w-7xl px-4;
}
html,
body {
  @apply bg-[#F6F7FA] dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
